@page
@model ClinicaVet.App.Frontend.Pages.ListaVeterinariosModel
@{
}
<h1>Gestionar Veterinarios</h1>
<p>Está pagina esta diseñada para gestionar nuevos Veterinarios</p>
<a class="btn btn-primary table-btn" asp-page="">Agregar Cliente</a>
<table class="table table-dark">
<tr>
    <th scope="col">Id</th>
    <th scope="col">Password</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Cedula</th>
    <th scope="col">Dirección</th>
    <th scope="col">Ciudad</th>
</tr>
</table>
